PORT=3006
PAYMENTS_URL=http://payments-api:8003

GATEWAY_HEADER_TOKEN=some-gateway-token
JWT_SECRET=jwt-secret
JITSI_SECRET=jitsi-secret-base64
JITSI_APP_ID=jitsi-app-id
JITSI_API_KEY=jitsi-api-key
DB_NAME=xMeet
DB_HOSTNAME=meet-database
DB_USERNAME=postgres
DB_PASSWORD=example
DB_PORT=5434
DB_DEBUG=true

# Avatar S3 Connection
AVATAR_ACCESS_KEY=
AVATAR_BUCKET=
AVATAR_S3_ENDPOINT=
AVATAR_ENDPOINT_REWRITE_FOR_SIGNED_URLS=
AVATAR_FORCE_PATH_STYLE=
AVATAR_REGION=
AVATAR_SECRET_KEY=

# Drive Database Connection
DRIVE_DB_NAME=
DRIVE_DB_HOSTNAME=
DRIVE_DB_USERNAME=
DRIVE_DB_PASSWORD=
DRIVE_DB_PORT=
DRIVE_DB_DEBUG=
